## latex files to ignore
jod.pdf
jodmac.pdf
jodcode.pdf
zzzjodmain.pdf
jl*.markdown
Thumbs.db
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.lol
*.ps
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
*_SYNCAPP/